<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 px-4 xl:p-0 gap-4 xl:gap-6">
    <div class="bg-white p-6 rounded-xl shadow-lg border border-gray-50">
        <div class="flex justify-between items-start">
            <div class="flex flex-col">
                <p class="text-xs text-gray-600 tracking-wide">Available RAM</p>
                <h3 class="mt-1 text-lg text-blue-500 font-bold"><%= resources.ram %>MB</h3>
            </div>
            <div class="bg-blue-500 p-2 md:p-1 xl:p-2 rounded-md">
                <img src="https://cdn.discordapp.com/attachments/987734229469253674/1023240179948986378/Copy_of_Copy_of_Copy_of_mike_8.png" alt="icon" class="w-auto h-8 md:h-6 xl:h-8 object-cover">
            </div>
        </div>
    </div>
    <div class="bg-white p-6 rounded-xl shadow-lg border border-gray-50">
        <div class="flex justify-between items-start">
            <div class="flex flex-col">
                <p class="text-xs text-gray-600 tracking-wide">Available CPU</p>
                <h3 class="mt-1 text-lg text-blue-500 font-bold"><%= resources.cpu %>%</h3>
            </div>
            <div class="bg-blue-500 p-2 md:p-1 xl:p-2 rounded-md">
                <img src="https://cdn.discordapp.com/attachments/987734229469253674/1023240651522981969/Copy_of_Copy_of_Copy_of_mike_9.png" alt="icon" class="w-auto h-8 md:h-6 xl:h-8 object-cover">
            </div>
        </div>
    </div>
    <div class="bg-white p-6 rounded-xl shadow-lg border border-gray-50">
        <div class="flex justify-between items-start">
            <div class="flex flex-col">
                <p class="text-xs text-gray-600 tracking-wide">Available Disk</p>
                <h3 class="mt-1 text-lg text-blue-500 font-bold"><%= resources.disk %>MB</h3>
            </div>
            <div class="bg-blue-500 p-2 md:p-1 xl:p-2 rounded-md">
                <img src="https://cdn.discordapp.com/attachments/987734229469253674/1023240991366447185/Copy_of_Copy_of_Copy_of_mike_10.png" alt="icon" class="w-auto h-8 md:h-6 xl:h-8 object-cover">
            </div>
        </div>
    </div>
    <div class="bg-white p-6 rounded-xl shadow-lg border border-gray-50">
        <div class="flex justify-between items-start">
            <div class="flex flex-col">
                <p class="text-xs text-gray-600 tracking-wide">Available Slots</p>
                <h3 class="mt-1 text-lg text-blue-500 font-bold"><%= resources.slots %></h3>
            </div>
            <div class="bg-blue-500 p-2 md:p-1 xl:p-2 rounded-md">
                <img src="https://cdn.discordapp.com/attachments/987734229469253674/1023241420796080219/Copy_of_Copy_of_Copy_of_mike_11.png" alt="icon" class="w-auto h-8 md:h-6 xl:h-8 object-cover">
            </div>
        </div>
    </div>
</div>